{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

{% block content %}
<h1>Otevřená komunikace</h1>
<h2>Vygeneruj si veřejný klíč</h2>
{{ render_form(public_key_form) }}

<h2>Vygeneruj si finální soukromý klíč</h2>
{{ render_form(private_key_form) }}
{% endblock %}
